body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    line-height: 1.6;
}


header {
    text-align: center;
    margin-bottom: 30px;
}


section {
    margin-bottom: 25px;
}


.project {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    margin-top: 12px;
}


h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}


@media (min-width: 600px) {
    body {
        padding: 30px;
    }

    h1 {
        font-size: 2.2rem;
    }
}
